@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'PixelImpact';
	src: url('PixelImpact.eot');
	src: url('PixelImpact.eot?#iefix') format('embedded-opentype'),
		url('PixelImpact.woff2') format('woff2'),
		url('PixelImpact.woff') format('woff'),
		url('PixelImpact.ttf') format('truetype'),
		url('PixelImpact.svg#PixelImpact') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}


body {
	font-family: 'PixelImpact';
	font-size: 20px;
}

#texto {
	text-decoration: none;
	background-color: transparent;
	border: none;
	font-size: 20px;
	color: #FFF;
	padding: 10px;
	outline: none;
	margin: 0px auto;
}

::placeholder {
	color: rgb(82, 36, 154);
	opacity: 1;
}

:-ms-input-placeholder {
	color: rgb(82, 36, 154);
}

::-ms-input-placeholder {
	color: rgb(82, 36, 154);
}