@charset "utf-8";
/* CSS Document */

body {
	font: Arial, Helvetica, sans-serif;
	font-size: 50px
}

#texto1 {
	text-decoration: none;
	font-size: 120px !important;
	color: #FFA900;
	outline: none;
	border: none;
	padding: 0;
	padding-left: 20px;
	margin: 0 auto;
	font-weight: bold;
	background: transparent;
}

#texto2 {
	text-decoration: none;
	font-size: 50px !important;
	color: #FFA900;
	outline: none;
	border: none;
	padding: 0;
	padding-left: 20px;
	margin: 0 auto;
	font-weight: bold;
	background: transparent;
}

::placeholder {
	color: #FFA900;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #FFA900;
}

::-ms-input-placeholder {
	color: #FFA900;
}